@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@layer utilities {
    .active {
        background-color: #ebf8ff;
        color: #2a4365;
    }
}