.iframe-embed {
  height: 600px;
}

.card {
  height: calc(100% - 270px);
}

.solution-card {
  height: calc(100% - 270px);
}

/* .nav-item::before {
  content: '';
  width: 0;
  height: 10px;
  background: black; 
  position: absolute; 
  top: 100%; 
  left: 0; 
  transition: .5s;
}

.nav-item:hover::before {
  width: 50%; 
  transform: translateX(100%);
} */